// @import 'base';

// Create palette classes from design tokens
@import 'tokens/palette-colors';

$tints: ( 100, 80, 60, 30, 15 );

// @debug 'type: '+ type-of($palette-colors);
// @debug 'length: '+length($palette-colors);

// @each $name, $color in $palette-colors {
//   @debug $name + ', ' + type-of($name);
//   @debug $color + ', ' + type-of($color);
// }

// @debug map-get($palette-colors, 'revolver');

@each $name, $color in $palette-colors {
    @each $tint in $tints {
      .u-color-#{$name}-#{$tint} {
        color: mix($color, white, $tint*1%);
      }
      .u-bg-#{$name}-#{$tint} {
        background-color: mix($color, white, $tint*1%);
      }
    }
}

// Swatch page styles
.swatch-list {
  display: flex;
  flex-wrap: wrap;

  > li {
    flex: 1 0 200px;
    margin: 0;
    padding: 1em;
  }
}

.swatch-panel {
  height: 80px;
  margin-bottom: 0.5em;
}
